# Dart/Flutter
.dart_tool/
.build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
**/GeneratedPluginRegistrant.*

# Firebase (Android)
android/app/google-services.json

# Firebase (iOS)
ios/Runner/GoogleService-Info.plist

# Firebase Cloud Functions (Node.js)
functions/node_modules/
functions/.firebase/
functions/.firebaserc
functions/.env

# Build Output
build/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
ios/Flutter/Flutter.podspec.json

# Misc
.DS_Store
.idea/
.vscode/
*.iml

# Node Modules (for any Node.js dependencies)
node_modules/
.firebase/
.firebaserc
.env
